<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule ^(.*)$ /fuel/public/index.php/$1 [L]
    # Sometimes it's: RewriteRule ^(.*)$ /fuel/public/index.php?/$1 [L]
</IfModule>

SetEnv FUEL_ENV development

